.content {
  background-color: white;
  height: 100%;
  width: 80%;
  padding: 20px;
  position: relative;
  border: 2px dashed #bbb;
  padding-left: 10%;
  
}

.padding {

  padding: 50px;
  width: :100%;
  height: 100%;
  position: relative;
  background-color: #f1f1f1;
  

}

.border {
padding: 50px;
  width: :100%px;
  height: 100%;
  position: relative;
background-color: #4CAF50;

}

.margin {
padding: 50px;
  width: :100%;
  height: 100%;
  position: relative;
  background-color: #f1f1f1;

}

div {
    color: black;
    font-weight: bold;
    text-align: center;

    
}